.card, .card-body {
  border: #333;
  border-radius: 12px;
  position: static;
}

.card-header {
  border-radius: 12px 12px 0 0 !important;
  padding: 16px 20px;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.form-label {
  font-size: 0.95rem;
  margin-bottom: 6px;
  color: #333;
}

.form-control,
.form-select {
  border-radius: 8px;
  padding: 10px 12px;
  border: 1px solid #ced4da;
  transition: all 0.25s ease-in-out;
}

.form-control:focus,
.form-select:focus,
textarea:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 0.15rem rgba(13, 110, 253, 0.25);
}

textarea {
  resize: vertical;
  min-height: 90px;
}

.btn-primary {
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 500;
  letter-spacing: 0.3px;
  transition: background 0.25s ease;
}

.btn-primary:hover {
  background-color: #0b5ed7;
}

/* Container spacing */
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 25px 30px;
  display: flex;
  justify-content: center;
  align-items: center; 
  /* flex-direction: column; */
}

/* Add soft shadows */
.shadow-sm {
  box-shadow: 0 4px 12px rgba(0,0,0,0.08) !important;
  width: 450px;
  justify-items: center;
  align-items: center;
}

.btn-save {
  display: flex;
  justify-content: center !important;
  align-items: center;
  gap: 12px;
  margin-top: 20px;
  width: 100%;
}

.example-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}
.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
  font-family: sans-serif;
}
.cdk-drag-preview {
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.example-box:last-child {
  border: none;
}
.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
